
//owl carousel
.carousel-wrap {
margin: 90px auto;
padding: 0 5%;
width: 90%;
position: relative;
}
/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100;
  width: 100%;
  & h4{
    color: $blanco;
  }
  & p{
    font-family: 'Gilroy Light', sans-serif;
  }
}
/* end fix */
.owl-nav > div {
  position: absolute;
  top: 110%;
  color: transparent;
}
.owl-nav i {
  font-size: 3em;
  right: 0;
}
.owl-nav .owl-prev {
  right: 20px;
  background: url('../img/iconos/ico-prev.png') no-repeat;
  @include media(xs){
    top: 80%;
    background: url('../img/iconos/ico-prev-blck.png') no-repeat;
    background-size: auto 100%;
  }
  @include media(sm){
    top: 80%;
    background: url('../img/iconos/ico-prev-blck.png') no-repeat;
    background-size: auto 100%;
  }
}
.owl-nav .owl-next {
  right: -30px;
  background: url('../img/iconos/ico-next.png') no-repeat;
  @include media(xs){
    top: 80%;
    background: url('../img/iconos/ico-next-blck.png') no-repeat;
    background-size: auto 100%;
  };
  @include media(sm){
    top: 80%;
    background: url('../img/iconos/ico-next-blck.png') no-repeat;
    background-size: auto 100%;
  }
}

.owl-dots{
  position: absolute;
  right: -50px;
  top: -20px;
  z-index: 1000;
  @include media(xs){
    position: static;
    margin-top: 1em;
  }
  @include media(sm){
    position: static;
    margin-top: 1em;
  }
}

.owl-dots .owl-dot {
    width: 13px;
    height: 13px;
    margin: 10px auto;
    counter-increment: slides-num;
    border-radius: 50%;
    background-color: #fff;
    @include media(xs){
      background-color: #555;
      display: inline-block;
      margin: 5px 10px;
    }
    @include media(sm){
      background-color: #555;
      display: inline-block;
      margin: 5px 10px;
    }
    &.active {
      width: 23px;
      height: 23px;
      margin: 0;
      background-color: transparent;
      background-image: url('../img/iconos/dot-active.png');

    }

}
