nav{
  position: absolute;
  right: 5%;
  width: 100%;
  max-width: 1300px;
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 10000;
  @include media(xs){
    position: fixed;
    right: 80%;
    top: 20px;
  }
  @include media(sm){
    box-sizing: border-box;
    width: 80%;
  }
  & img.nav_menu{
    display: none;
    @include media(xs){
      display: block;
      height: 35px;
      padding: 10px;
      border-radius: 50%;
      background: #0fbbd4;
    }
  }
  & ul{
    float: right;
    @include media(xs){
      display: none;
      position: absolute;
      top: 60px;
      background: #0fbbd4;
      padding: 1em;
      border-radius: 10px;
      right: -100px;
    }
    &.visible{
      @include media(xs){
        display: block;
      }
    }
    & li{
      display: inline-block;
      margin-left: 1em;
      @include media(xs){
        display: block;
        margin: 10px;
      }
      &:hover{
        opacity: .3;
        transition: opacity .4s;
      }
      & a{
        text-decoration: none;
        color: #51515b;
        font-family: 'Gilroy';
        @include media(xs){
          font-size: .8em;
          font-family: 'Gilroy Light';
          color: $blanco;
          text-transform: uppercase;
        }
      }
    }
  }
}
