@import '_base.scss';
@import '_navbar.scss';
@import '_header.scss';
@import '_carousel.scss';
@import '_footer.scss';
@import '_componentes.scss';


main{
  max-width: 1270px;
  margin: auto;
  z-index: 50;
  & section{
    background-color: $blanco;
    border-radius: 30px;
    margin-bottom: 2em;
    position: relative;
    &:focus{
      outline:0px;
    }
    @include media(xs){
      border-radius: 15px;
    }
    &#parametros{
      padding: 3em;
      & article{
        @include media(xs){
          min-height: 90%;
          & img:nth-child(2){
            display: none;
          }
        }

      }
      @include media(xs){
        padding: 2em 1em 2em 2em;
        height: 80vh;
        width: 80%;
        margin-left: 15%;
        box-sizing: border-box;
      }
      @include media(sm){
        margin: 1em;
      }
      & h2{
        display: none;
      }
      & .parametros__indicadores{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        top: -50px;
        left: 0;
        @include media(xs){
          flex-direction: column;
          z-index: 100;
          height: 100%;
          width: 30%;
          top: 0;
          left: -50px;
        }
        & a{
          text-align: center;
          text-decoration: none;
          color: $grisTip;
          flex: 1 1 auto;
          font-size: 1.1em;
          @include media(xs){
            flex: 0 1 auto;
          }
          &:hover{
            & img{
              padding: 0;
              transition: padding .5s;
            }
          }
          &.gradient-naranjo{
            &.active{
              color: #eda846;
              transition: color .2s ease-out;
            }
            & img{
              @include linear-gradient(-45deg, #eda846 0%, #ce434e 100%);
            }
          }
          &.gradient-amarillo{
            &.active{
              color: #ffc62e;
              transition: color .2s ease-out;
            }
            & img{
              @include linear-gradient(-45deg, #eda846 0%, #ffc62e 100%);
            }
          }
          &.gradient-rosa{
            &.active{
              color: #dd5dae;
              transition: color .2s ease-out;
            }
            & img{
              @include linear-gradient(to left, #7B538C 0%, #dd5dae 100%);
            }
          }
          &.gradient-celeste{
            &.active{
              color: #00A3D9;
              transition: color .2s ease-out;
            }
            & img{
              @include linear-gradient(to bottom, #68e3fe 0%, #00A3D9 100%);
            }
          }
          &.gradient-azul{
            &.active{
              color: #365992;
              transition: color .2s ease-out;
            }
            & img{
              @include linear-gradient(to right, #365992 0%, #31a6b4 100%)
            }
          }
          &.gradient-morado{
            &.active{
              color: #65659b;
              transition: color .2s ease-out;
            }
            & img{
              @include linear-gradient(to top, #65659b 0%, #8d8dc7 100%);
            }
          }
          & img{
            height: 80px;
            width: 80px;
            padding: .5em;
            border-radius: 50%;
            box-sizing: border-box;
            @include media(xs){
              height: 60px;
              width: 60px;
            }
            @include media(sm){
              height: 60px;
              width: 60px;
            }
          }
          & p{
            @include media(xs){
              display: none;
            }
            @include media(sm){
              font-size: .9em;
            }
          }
        }
      }
      & .parametros__grafico{
        width: 100%;
        display: none;
        & header{
          padding: 0;
          margin: 0;
          height: 15%;
        }
        & img{
          width: 100%;
        }
        &.active{
          display: block;
        }
      }
      & footer{
        text-align: right;
        background-color: transparent;
        padding: 0;
        @include media(xs){
          margin-top: 0;
        }
        @include media(sm){
          text-align: center;
          margin-top: 2em;
        }
        & button{
          display: inline;
          max-height: none;
          @include media(xs){
            padding: 1.5em 10%;
          }
          @include media(sm){
            padding: 1.5em 10%;
          }
        }
      }
    }

    &#sensores{
      display: flex;
      flex-flow: row nowrap;
      @include media(xs){
        flex-direction: column;
        padding: 1em;
        margin: 1em;
      }
      @include media(sm){
        margin: 1em;
        flex-direction: column;
      }
      & .sensores__info{
        flex: 0 1 auto;
        padding: 5em 2em;
        display: flex;
        @include media(xs){
          padding: 1em 0;
        }
        @include media(sm){
          padding: 2em 1em 1em;
        }
        & img{
          height: 60px;
          width: 60px;
          box-sizing: border-box;
          padding: .5em;
          border-radius: 50%;
          margin-right: 1em;
          @include linear-gradient(to left, #68e3fe 0%, #00A3D9 100%);
          @include media(xs){
            height: 50px;
            width: 50px;
          }
        }
        & h2{
          flex: 0 1 auto;
        }
      }

      & .sensores__mapa{
        flex: 1 1 70%;
        width: 100%;
        height: 400px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        @include media(xs){
          border-radius: 0;
          height: 60vh;
        }
        @include media(sm){
          border-radius: 0;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
        }
      }
    }
    &#comentarios{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: 3em 2em;
      @include media(xs){
        flex-wrap: wrap;
        margin: 1em;
        padding: 2em 1em;
      }
      @include media(sm){
        flex-wrap: wrap;
        margin: 1em;
        padding: 2em 1em;
      }
      & img{
        flex: 0 1 auto;
        height: 60px;
        width: 60px;
        box-sizing: border-box;
        padding: .5em;
        border-radius: 50%;
        margin-right: 1em;
        @include linear-gradient(-45deg, #eda846 0%, #ce434e 100%);
        @include media(xs){
          height: 50px;
          width: 50px;
        }
      }
      & h2{
        flex: 1 1 auto;
      }
      & .comentarios__form{
        flex: 0 1 70%;
        @include media(xs){
          flex: 1 1 100%;
        }
        @include media(sm){
          flex: 1 1 100%;
          margin: 1em 0;
        }
      }
    }
    & span{
      font-family: 'Gilroy Light', sans-serif;
      font-weight: lighter;
      display: block;
      font-size: .7em;
      position: relative;
    }
  }
}
